<form
  class="content-container"
  [formGroup]="casiIncidenteForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        formControlName="fecha"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="input-group">
      <label for="observado">Nombre:</label>
      <input
        type="text"
        id="observado"
        placeholder="Nombre"
        formControlName="observado"
      />
    </div>
    <div class="input-group">
      <label>Genero:</label>
      <mat-radio-group aria-label="Select an option" formControlName="generoId">
        <mat-radio-button
          *ngFor="let opcion of opciones?.generos; let i = index"
          [value]="opcion.optionId"
          >{{ opcion.nombre }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="input-group">
      <label for="proceso">Proceso:</label>
      <select id="proceso" formControlName="procesoId">
        <option value="" disabled selected>Seleccione un proceso</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.procesos"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="turno">Turno:</label>
      <select id="turno" formControlName="turnoId">
        <option value="" disabled selected>Seleccione un turno</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.turnos"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="areaDeTrabajo">Area de trabajo:</label>
      <select id="areaDeTrabajo" formControlName="areaId">
        <option value="" disabled selected>Area de trabajo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="supervisor">Supervisor:</label>
      <select id="supervisor" formControlName="supervisorId">
        <option value="" disabled selected>Seleccione un supervisor</option>
        <option [value]="gerente.id" *ngFor="let gerente of gerentes"
          >{{ gerente.nombre }} {{ gerente.apellido }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="casualidad">Casualidad:</label>
      <select id="casualidad" formControlName="casualidadId">
        <option value="" disabled selected>Casualidad</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.casualidades"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="nivelDeRiesgo">Nivel de Riesgo:</label>
      <select id="nivelDeRiesgo" formControlName="riesgoId">
        <option value="" disabled selected>Nivel de Riesgo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.riesgos"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>
    <div class="input-group">
      <label for="porcentajeDeJornada">Jornada:</label>
      <select id="porcentajeDeJornada" formControlName="jornadaId">
        <option value="" disabled selected>Jornada</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.jornadas"
          >{{ opcion.nombre }}</option
        >
      </select>
    </div>

    <div class="input-group text-area">
      <label for="descripcion">Descripcion de lo sucedido</label>
      <textarea
        name=""
        id="descripcion"
        formControlName="descripcion"
      ></textarea>
    </div>
  </div>
  <div class="button-group">
    <button class="save-button">GUARDAR</button>
  </div>
</form>
