<form
  class="content-container"
  [formGroup]="casiIncidenteForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        formControlName="fecha"
        [max]="maxDate"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <span class="invalid-message" *ngIf="fecha.touched && fecha.invalid"
        >Ingrese una fecha</span
      >
    </div>
    <div class="input-group">
      <label for="observado">Nombre:</label>
      <input
        type="text"
        id="observado"
        placeholder="Nombre"
        formControlName="observado"
      />
      <span
        class="invalid-message"
        *ngIf="observado.touched && observado.invalid"
        ><ng-template [ngIf]="observado.errors.required"
          >Ingrese un nombre</ng-template
        >
        <ng-template [ngIf]="observado.errors.maxlength"
          >Solo se permiten 70 caracteres</ng-template
        ></span
      >
    </div>
    <div class="input-group">
      <label>Genero:</label>
      <mat-radio-group aria-label="Select an option" formControlName="generoId">
        <mat-radio-button
          *ngFor="let opcion of opciones?.generos; let i = index"
          [value]="opcion.optionId"
          >{{ opcion.nombre }}</mat-radio-button
        >
      </mat-radio-group>
      <span class="invalid-message" *ngIf="generoId.touched && generoId.invalid"
        >Seleccione un genero</span
      >
    </div>
    <div class="input-group">
      <label for="proceso">Proceso:</label>
      <select id="proceso" formControlName="procesoId">
        <option value="" disabled selected>Seleccione un proceso</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.procesos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="procesoId.touched && procesoId.invalid"
        >Seleccione un proceso</span
      >
    </div>
    <div class="input-group">
      <label for="turno">Turno:</label>
      <select id="turno" formControlName="turnoId">
        <option value="" disabled selected>Seleccione un turno</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.turnos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span class="invalid-message" *ngIf="turnoId.touched && turnoId.invalid"
        >Seleccione un turno</span
      >
    </div>
    <div class="input-group">
      <label for="areaDeTrabajo">Area de trabajo:</label>
      <select id="areaDeTrabajo" formControlName="areaId">
        <option value="" disabled selected>Area de trabajo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span class="invalid-message" *ngIf="areaId.touched && areaId.invalid"
        >Seleccione un area de trabajo</span
      >
    </div>
    <div class="input-group">
      <label for="supervisor">Supervisor:</label>
      <select id="supervisor" formControlName="supervisorId">
        <option value="" disabled selected>Seleccione un supervisor</option>
        <option [value]="gerente.id" *ngFor="let gerente of gerentes"
          >{{ gerente.nombre }} {{ gerente.apellido }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="supervisorId.touched && supervisorId.invalid"
        >Seleccione un supervisor</span
      >
    </div>
    <div class="input-group">
      <label for="casualidad">Casualidad:</label>
      <select id="casualidad" formControlName="casualidadId">
        <option value="" disabled selected>Casualidad</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.casualidades"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="casualidadId.touched && casualidadId.invalid"
        >Seleccione una casualidad</span
      >
    </div>
    <div class="input-group">
      <label for="nivelDeRiesgo">Nivel de Riesgo:</label>
      <select id="nivelDeRiesgo" formControlName="riesgoId">
        <option value="" disabled selected>Nivel de Riesgo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.riesgos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span class="invalid-message" *ngIf="riesgoId.touched && riesgoId.invalid"
        >Seleccione un nivel de riesgo</span
      >
    </div>
    <div class="input-group">
      <label for="porcentajeDeJornada">Jornada:</label>
      <select id="porcentajeDeJornada" formControlName="jornadaId">
        <option value="" disabled selected>Jornada</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.jornadas"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="jornadaId.touched && jornadaId.invalid"
        >Seleccione una jornada</span
      >
    </div>

    <div class="input-group text-area">
      <label for="descripcion">Descripcion de lo sucedido</label>
      <textarea
        name=""
        id="descripcion"
        formControlName="descripcion"
      ></textarea>
      <span
        class="invalid-message"
        *ngIf="descripcion.touched && descripcion.invalid"
      >
        <ng-template [ngIf]="descripcion.errors.maxlength"
          >Solo se permite un máximo de 100 caracteres</ng-template
        >
        <ng-template [ngIf]="descripcion.errors.required"
          >Ingrese una descripción</ng-template
        >
      </span>
    </div>
  </div>
  <div class="button-group">
    <button *ngIf="editable" class="save-button">GUARDAR</button>
  </div>
</form>
