.checkboxes {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-checkbox-frame {
  border-color: lightgrey;
}

label {
  margin: 1rem 0;
}
.select-group {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
select {
  color: var(--white);
  margin-left: auto;
}
