<div class="main-container">
  <nav>
    <ul class="main-container-list">
      <li>
        <a
          class="main-container-list-link"
          routerLink="filtros"
          routerLinkActive=" main-container-list-link-active"
          >Filtros</a
        >
      </li>
      <li>
        <a
          class="main-container-list-link"
          routerLink="resultado"
          routerLinkActive=" main-container-list-link-active"
          >Graficos</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
