<form class="content-container" [formGroup]="bbsForm" (ngSubmit)="submitForm()">
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        formControlName="fecha"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <span class="invalid-message" *ngIf="fecha.invalid && fecha.touched"
        >Ingrese una fecha</span
      >
    </div>
    <div class="input-group">
      <label for="observador">Observador:</label>
      <select id="observador" formControlName="observadorId">
        <option value="" disabled>Seleccione un observador</option>
        <option
          [value]="colaborador.id"
          *ngFor="let colaborador of colaboradores"
          >{{ colaborador.nombre }} {{ colaborador.apellido }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="observadorId.invalid && observadorId.touched"
        >Ingrese una fecha</span
      >
    </div>

    <div class="input-group">
      <label for="comportamiento">Comportamiento detectado:</label>
      <select formControlName="comportamientoId" id="comportamiento">
        <option value="" selected disabled>Seleccione un comportamiento</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.comportamientos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="comportamientoId.invalid && comportamientoId.touched"
        >Seleccione un comportamiento</span
      >
    </div>
    <div class="input-group">
      <label for="area">Area:</label>
      <select formControlName="areaId" id="area">
        <option value="" disabled selected>Seleccione un area</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span class="invalid-message" *ngIf="areaId.invalid && areaId.touched"
        >Seleccione un área</span
      >
    </div>
    <div class="input-group">
      <label for="proceso">Proceso:</label>
      <select formControlName="procesoId" id="proceso">
        <option value="" disabled selected>Seleccione un proceso</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.procesos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="procesoId.invalid && procesoId.touched"
        >Seleccione un proceso</span
      >
    </div>

    <div class="input-group">
      <label>Tipo Observado:</label>
      <mat-radio-group
        formControlName="tipoObservadoId"
        aria-label="Select an option"
      >
        <mat-radio-button
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.tipoObservados"
          >{{ opcion.nombre }}</mat-radio-button
        >
      </mat-radio-group>
      <span
        class="invalid-message"
        *ngIf="tipoObservadoId.invalid && tipoObservadoId.touched"
        >Seleccione un tipo de observado</span
      >
    </div>

    <div class="input-group">
      <label>Comportamiento:</label>
      <mat-radio-group
        formControlName="tipoComportamientoId"
        aria-label="Select an option"
      >
        <mat-radio-button
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.tipoComportamientos"
          >{{ opcion.nombre }}</mat-radio-button
        >
      </mat-radio-group>
      <span
        class="invalid-message"
        *ngIf="tipoComportamientoId.invalid && tipoComportamientoId.touched"
        >Seleccione un tipo de comportamiento</span
      >
    </div>
  </div>
  <div class="button-group">
    <button *ngIf="editable" class="save-button">GUARDAR</button>
  </div>
</form>
