/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --yellow: #f9a11b;
  --blue: #0a1e38;
  --white: #fffff8;
  --red: #e00707;
  --black: #212121;
}
body {
  margin: 0;
}

.left-nav-transition {
  transition: all ease-in 0.8s, background-color 0s;
}

* {
  font-family: "Montserrat", sans-serif;
  outline: none!important;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fffff8;
}
a:hover{
  color: unset;
  transition: none;
}

.main-container {
  display: flex;
  flex-flow: column;
  color: #fffff8;
  height: 100%;
}

.sub-nav-menu {
  width: 100%;
  margin-bottom: 2rem;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--yellow);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--yellow);
}
.mat-radio-outer-circle {
  border-color: var(--white);
}
.mat-tab-label,
.mat-tab-link {
  color: var(--white);
  opacity: 1 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  overflow: unset !important;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--yellow);
}
.mat-ink-bar {
  bottom: -2px;
  position: absolute;
  transition: 700ms cubic-bezier(0.35, 0, 0.25, 1) !important;
}
.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 2px solid rgba(255, 255, 248, 0.3);
}

.mat-calendar-body-selected {
  background-color: var(--yellow);
  color: #fff;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--yellow);
}
.mat-checkbox-frame {
  border-color: var(--white);
}
.mat-table {
  border: 1px solid var(--yellow);
  border-radius: 1rem;
  background-color: transparent !important;
  border-collapse: unset;
  overflow: hidden;
}
tr.mat-header-row {
  background-color: var(--yellow);
}
th.mat-header-cell {
  font-size: 1.3rem;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.mat-checkbox-layout{
  white-space: unset!important;
}
th.mat-header-cell {
  font-size: 1.3rem;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  text-align: right !important;
}
.mat-elevation-z8 {
  box-shadow: none;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-color: var(--yellow);
}
tr:last-of-type > td.mat-cell {
  border: none;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 3rem !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--white);
}
.mat-select-arrow {
  color: var(--white);
}
.mat-select-value-text {
  color: var(--white);
}
.mat-paginator-icon {
  color: var(--yellow);
}
.mat-dialog-container {
  padding: 0 !important;
}
.mat-dialog-container {
  border-radius: 1rem !important;
}
.mat-tree {
  background-color: transparent;
}
.mat-icon-button i,
.mat-icon-button .mat-icon {
  color: var(--yellow);
}
.mat-tree-node {
  color: white;
}
.mat-button-ripple.mat-ripple {
  color: var(--yellow);
}
.mat-radio-label-content {
  white-space: normal;
}

mat-paginator {
  background-color: transparent !important;
  color: var(--white) !important;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
mat-radio-button {
  margin: 0 0.5rem;
}
.mat-tab-header {
  overflow: visible !important;
}
.mat-tab-link-container {
  margin-bottom: -2px;
}
.mat-tab-header-pagination-chevron {
  border-color: var(--yellow);
}
.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--yellow);
  opacity: 0.5;
}
mat-radio-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 6rem);
  column-gap: 2rem;
  row-gap: 1rem;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
}

.content-container {
  height: 10px;
  min-height: -moz-available; /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.content-container::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}
.content-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 1rem;
}
mat-dialog-container::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  height: 80%;
}
mat-dialog-container::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 1rem;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  color: rgba(255, 255, 248, 0.5);
  column-gap: 3rem;
  row-gap: 2rem;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}
.form-grid input::placeholder {
  color: rgba(255, 255, 248, 0.5);
}
.form-grid select {
  color: var(--white);
}
.mat-date-range-input-end-wrapper {
  flex-grow: 1;
  max-width: unset!important;
  width: 1rem;

}
.save-button {
  justify-self: center;
  align-self: center;
  background-color: var(--yellow);
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: var(--red) 0.1rem solid;
}

span.invalid-message {
  color: var(--red);
  font-size: 0.7rem;
  margin-left: 1rem;
}

.save-button--green {
  background-color: #00af23;
}

.input-group {
  display: flex;
  flex-direction: column;
}
.text-area {
  grid-column: span 2;
}
.flex-fill-available {
  flex: 1;
}
input:not([type="radio"]) {
  height: 2.3rem;
  border-radius: 1.3rem;
  border: none;
  padding: 0.1rem 1rem;
  background-color: rgba(255, 255, 248, 0.3);
  color: var(--white);
}
input:-internal-autofill-selected {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 248, 0.3) !important;
  background-image: none !important;
  color: var(--white) !important;
}
label {
  margin: 0 0 1rem 0;
}
textarea {
  height: 5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 248, 0.3);
  border: none;
  color: white;
  padding: 1rem;
}
select {
  height: 2.3rem;
  padding: 0.1rem 1rem;
  background-color: rgba(255, 255, 248, 0.3);
  border-radius: 1.3rem;
  border: none;
  width: 100%;
}
select.dialog-select {
  background-color: var(--blue);
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

router-outlet + * {
  flex: 1;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.route-animation {
  flex: 1;
  display: flex;
  position: relative;
  transition: height 1s;
  overflow: hidden;
}
.ng-animating {
  flex: 1;
  height: 100%;
  width: 100%;
}
.ng-animating .hide {
  height: 0;
}
.icon {
  width: 1.8rem;
  height: auto;
  cursor: pointer;
}
.dialog-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 85vh;
}
.dialog-title {
  color: var(--yellow);
  font-size: 1rem;
}
.dialog-header {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid lightgrey;
}
.dialog-main {
  margin: 24px;
}
.dialog-main input,
.dialog-main select {
  background-color: var(--blue);
}
.close-icon {
  margin-left: auto;
  cursor: pointer;
}
.mobile-label {
  display: none;
}
@media (max-width: 768px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
  }
  .form-grid {

    grid-template-columns: repeat(auto-fill, 15rem);

  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    min-height: unset;
    text-align: right;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: auto !important;
  }

  .mat-cell:first-of-type,
  .mat-footer-cell:first-of-type,
  .mat-header-cell:first-of-type {
    padding-left: unset !important;
  }

  td.mat-cell {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none !important;
    width: 100%;
    padding: 0 !important;
  }
  tr.mat-row {
    border-bottom: 1px solid var(--yellow);
  }
  tr.mat-row:last-of-type {
    border-bottom: none;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0 !important;
  }

  .text-area {
    grid-column: span 1;
  }
}


