<div class="main-container">
  <div class="tab-nav-container">
    <nav mat-tab-nav-bar class="sub-nav-menu">
      <a
        mat-tab-link
        [routerLink]="['lista']"
        routerLinkActive
        disableRipple
        #rlaa="routerLinkActive"
        [active]="rlaa.isActive"
      >
        LISTA
      </a>
      <a
        mat-tab-link
        [routerLink]="['incidente']"
        routerLinkActive
        disableRipple
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        INCIDENTE
      </a>
      <a
        mat-tab-link
        [routerLink]="['casi-incidente']"
        routerLinkActive
        disableRipple
        #rlb="routerLinkActive"
        [active]="rlb.isActive"
      >
        CASI INCIDENTE
      </a>
      <a
        mat-tab-link
        [routerLink]="['bbs']"
        routerLinkActive
        disableRipple
        #rlc="routerLinkActive"
        [active]="rlc.isActive"
      >
        BBS
      </a>
      <a
        mat-tab-link
        [routerLink]="['condiciones-inseguras']"
        routerLinkActive
        disableRipple
        #rld="routerLinkActive"
        [active]="rld.isActive"
      >
        CONDICIONES INSEGURAS
      </a>
    </nav>
  </div>

  <div [@routeAnimations]="prepareRoute(outlet)" class="route-animation">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
