<div class="content-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="indice">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span class="mobile-label"># </span>
          {{ i + 1 }}
        </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre del rol</th>
        <td mat-cell *matCellDef="let element" (click)="setRol(element.id)">
          <span class="mobile-label">Nombre del rol:</span>
          {{ element.nombre }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Acción:</span>
          <div>
            <img
              (click)="onEditRol(element)"
              *ngIf="editable && !imThisRole(element.id) && +element.id !== 1"
              src="assets/images/icons/editar.svg"
              class="icon"
            />
            <img
              *ngIf="editable && !imThisRole(element.id) && +element.id !== 1"
              (click)="onDeleteRol(element)"
              src="assets/images/icons/eliminar.svg"
              class="icon"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row @rowAnimation *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        @rowAnimation
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="button-group">
    <button
      *ngIf="editable"
      (click)="onNewRole()"
      type="button"
      class="save-button"
    >
      NUEVO ROL
    </button>
  </div>
</div>
