<div class="dialog-content">
  <div class="dialog-header">
    <h1 class="dialog-title">AGREGAR NUEVO DEPARTAMENTO</h1>
    <div mat-dialog-close class="close-icon">X</div>
  </div>
  <form [formGroup]="departamentoForm" (ngSubmit)="submitForm()">
    <div class="dialog-main">
      <div class="input-group">
        <label for="nombreDelDepartamento">Nombre del Departamento:</label>
        <input
          type="text"
          id="nombreDelDepartamento"
          formControlName="nombre"
          placeholder="Ingrese un nombre"
        />
        <span *ngIf="nombre.touched && nombre.invalid" class="invalid-message">
          <div *ngIf="nombre.errors.required">Ingrese un nombre</div>
          <div *ngIf="nombre.errors.maxlength">
            Solo se permite un máximo de 35 caracteres
          </div>
        </span>
      </div>
      <div class="input-group">
        <label for="gerente">Gerente:</label>
        <select class="dialog-select" id="gerente" formControlName="gerenteId">
          <option value="" disabled selected>Seleccione un gerente</option>
          <option
            [value]="colaborador.id"
            *ngFor="let colaborador of colaboradores"
          >
            {{ colaborador.nombre }} {{ colaborador.apellido }}
          </option>
        </select>
        <span
          *ngIf="gerenteId.touched && gerenteId.invalid"
          class="invalid-message"
          >Seleccione un gerente</span
        >
      </div>
      <br />
      <br />

      <div class="button-group">
        <button class="save-button save-button--green">
          {{ isEdit ? 'GUARDAR' : 'AGREGAR' }}
        </button>
      </div>
    </div>
  </form>
</div>
