<form
  class="content-container"
  [formGroup]="condicionInseguraForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        [max]="maxDate"
        formControlName="fecha"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <span class="invalid-message" *ngIf="fecha.invalid && fecha.touched"
        >Ingrese una fecha</span
      >
    </div>

    <div class="input-group">
      <label for="proceso">Proceso:</label>
      <select id="proceso" formControlName="procesoId">
        <option value="" disabled selected>Seleccione un proceso</option>
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.procesos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="procesoId.invalid && procesoId.touched"
        >Seleccione un proceso</span
      >
    </div>

    <div class="input-group">
      <label for="areaDeTrabajo">Area de trabajo:</label>
      <select id="areaDeTrabajo" formControlName="areaId">
        <option value="" disabled selected>Área de trabajo</option>
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span class="invalid-message" *ngIf="areaId.invalid && areaId.touched"
        >Seleccione un área de trabajo</span
      >
    </div>

    <div class="input-group">
      <label for="nivelDeRiesgo">Indicador de riesgo:</label>
      <select id="nivelDeRiesgo" formControlName="indicadorRiesgoId">
        <option value="" disabled selected>Seleccione un Indicador</option>
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.indicadorRiesgos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="indicadorRiesgoId.invalid && indicadorRiesgoId.touched"
        >Seleccione un indicador de Riesgo</span
      >
    </div>
    <div class="input-group">
      <label for="indicadorDeRiesgo">Factor de riesgo:</label>
      <select id="indicadorDeRiesgo" formControlName="factorRiesgoId">
        <option value="" disabled selected
          >Seleccione un indicador de riesgo</option
        >
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.factorRiesgos"
          >{{ opcion.nombre }}</option
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="factorRiesgoId.invalid && factorRiesgoId.touched"
        >Seleccione un factor de riesgo</span
      >
    </div>
  </div>
  <div class="button-group">
    <button *ngIf="editable" class="save-button">GUARDAR</button>
  </div>
</form>
