<form
  class="content-container"
  [formGroup]="condicionInseguraForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        [max]="maxDate"
        formControlName="fecha"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <span class="invalid-message" *ngIf="fecha.invalid && fecha.touched"
        >Ingrese una fecha</span
      >
    </div>

    <div class="input-group">
      <label for="categoria">Categoria:</label>
      <select
        id="categoria"
        (ngModelChange)="onCategoriaSelect($event)"
        formControlName="categoriaId"
      >
        <option value="" disabled selected>Seleccione una categoría</option>
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.categorias"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="categoriaId.invalid && categoriaId.touched"
        >Seleccione una categoría</span
      >
    </div>
    <div class="input-group">
      <label for="subcategoria">Subcategoria:</label>
      <select id="subcategoria" formControlName="subcategoriaId">
        <option value="" disabled selected>Seleccione una subcategoría</option>
        <option [value]="+opcion.id" *ngFor="let opcion of subcategorias">
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="subcategoriaId.invalid && subcategoriaId.touched"
        >Seleccione una subcategoría</span
      >
    </div>
    <div class="input-group text-area">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion"></textarea>
      <span
        class="invalid-message"
        *ngIf="descripcion.touched && descripcion.invalid"
      >
        <ng-template [ngIf]="descripcion.errors.maxlength"
          >Solo se permite un máximo de 100 caracteres</ng-template
        >
        <ng-template [ngIf]="descripcion.errors.required"
          >Ingrese una descripción</ng-template
        >
      </span>
    </div>

    <div class="input-group">
      <label for="areaDeTrabajo">Área de trabajo:</label>
      <select id="areaDeTrabajo" formControlName="areaId">
        <option value="" disabled selected>Área de trabajo</option>
        <option
          [value]="+opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span class="invalid-message" *ngIf="areaId.invalid && areaId.touched"
        >Seleccione un área de trabajo</span
      >
    </div>

    <div class="input-group">
      <label for="exposicion">Exposición:</label>
      <input
        type="number"
        id="exposicion"
        placeholder="Exposición"
        formControlName="exposicion"
        (ngModelChange)="calculateValorRiesgo()"
      />
      <span
        class="invalid-message"
        *ngIf="exposicion.touched && exposicion.invalid"
      >
        <ng-template [ngIf]="exposicion.errors.required">
          Ingrese una exposición</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="consecuencia">Consecuencia:</label>
      <input
        type="number"
        id="consecuencia"
        placeholder="Consecuencia"
        formControlName="consecuencia"
        (ngModelChange)="calculateValorRiesgo()"
      />
      <span
        class="invalid-message"
        *ngIf="consecuencia.touched && consecuencia.invalid"
      >
        <ng-template [ngIf]="consecuencia.errors.required">
          Ingrese una consecuencia</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="probabilidad">Probabilidad:</label>
      <input
        type="number"
        placeholder="Probabilidad"
        id="probabilidad"
        formControlName="probabilidad"
        (ngModelChange)="calculateValorRiesgo()"
      />
      <span
        class="invalid-message"
        *ngIf="probabilidad.touched && probabilidad.invalid"
      >
        <ng-template [ngIf]="probabilidad.errors.required">
          Ingrese una probabilidad</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="valorRiesgo">Valor de Riesgo:</label>
      <input
        type="number"
        id="valorRiesgo"
        placeholder="Valor de Riesgo"
        formControlName="valorRiesgo"
      />
      <span
        class="invalid-message"
        *ngIf="valorRiesgo.touched && valorRiesgo.invalid"
      >
        <ng-template [ngIf]="valorRiesgo.errors.required">
          Ingrese un valor de riesgo</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="nivelRiesgo">Nivel de Riesgo:</label>
      <input
        id="nivelRiesgo"
        placeholder="Nivel de Riesgo"
        formControlName="nivelRiesgo"
      />
      <span
        class="invalid-message"
        *ngIf="nivelRiesgo.touched && nivelRiesgo.invalid"
      >
        <ng-template [ngIf]="nivelRiesgo.errors.required">
          Ingrese un nivel de riesgo</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="prioridadAtencion">Prioridad de Atención:</label>
      <input
        id="prioridadAtencion"
        placeholder="Prioridad de Atención"
        formControlName="prioridadAtencion"
      />
      <span
        class="invalid-message"
        *ngIf="prioridadAtencion.touched && prioridadAtencion.invalid"
      >
        <ng-template [ngIf]="prioridadAtencion.errors.required">
          Ingrese un nivel de riesgo</ng-template
        >
      </span>
    </div>
    <div class="input-group text-area">
      <label for="accion">Acción</label>
      <textarea id="accion" formControlName="accion"></textarea>
      <span class="invalid-message" *ngIf="accion.touched && accion.invalid">
        <ng-template [ngIf]="accion.errors.maxlength"
          >Solo se permite un máximo de 100 caracteres</ng-template
        >
        <ng-template [ngIf]="accion.errors.required"
          >Ingrese una acción</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label for="fechaCompromiso">Fecha de Compromiso:</label>
      <input
        id="fechaCompromiso"
        readonly
        placeholder="Fecha de Compromiso"
        formControlName="fechaCompromiso"
        [matDatepicker]="pickerCompromiso"
        (click)="pickerCompromiso.open()"
      />
      <mat-datepicker #pickerCompromiso></mat-datepicker>
      <span
        class="invalid-message"
        *ngIf="fechaCompromiso.invalid && fechaCompromiso.touched"
        >Ingrese una fecha</span
      >
    </div>
    <div class="input-group">
      <label for="responsable">Responsable:</label>
      <select id="responsable" formControlName="responsableId">
        <option value="" disabled selected>Seleccione un responsable</option>
        <option
          [value]="responsable.id"
          *ngFor="let responsable of colaboradores"
        >
          {{ responsable.nombre }} {{ responsable.apellido }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="categoriaId.invalid && categoriaId.touched"
        >Seleccione una categoría</span
      >
    </div>
    <div class="input-group">
      <label for="fechaCierre">Fecha de Cierre:</label>
      <input
        id="fechaCierre"
        readonly
        placeholder="Fecha de Cierre"
        formControlName="fechaCierre"
        [matDatepicker]="pickerCierre"
        (click)="pickerCierre.open()"
      />
      <mat-datepicker #pickerCierre></mat-datepicker>
      <span
        class="invalid-message"
        *ngIf="fechaCierre.invalid && fechaCierre.touched"
        >Ingrese una fecha</span
      >
    </div>
    <div class="input-group">
      <label for="estatusCierre">Estatus de Cierre:</label>
      <select id="estatusCierre" formControlName="estatusCierre">
        <option value="" disabled selected>Estatus de Cierre</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Progreso">Progreso</option>
        <option value="Listo">Listo</option>
      </select>
      <span
        class="invalid-message"
        *ngIf="estatusCierre.invalid && estatusCierre.touched"
        >Seleccione un estatus de cierre</span
      >
    </div>
  </div>
  <div class="button-group">
    <button *ngIf="editable" class="save-button">GUARDAR</button>
  </div>
</form>
