<div class="dialog-content">
  <div class="dialog-header">
    <h1 class="dialog-title">AGREGAR NUEVO ROL</h1>
    <div mat-dialog-close class="close-icon">X</div>
  </div>
  <form [formGroup]="colaboradorForm" (ngSubmit)="submitForm()">
    <div class="dialog-main">
      <div class="input-group">
        <label for="nombreDelRol">Nombre del Colaborador:</label>
        <input
          type="text"
          id="nombreDelRol"
          formControlName="nombre"
          placeholder="Ingrese un nombre"
        />
        <span *ngIf="nombre.touched && nombre.invalid" class="invalid-message"
          >Ingrese un nombre</span
        >
      </div>
      <div class="input-group">
        <label for="apellido">Apellido del Colaborador:</label>
        <input
          formControlName="apellido"
          type="text"
          id="apellido"
          placeholder="Ingrese un apellido"
        />
        <span
          *ngIf="apellido.touched && apellido.invalid"
          class="invalid-message"
          >Ingrese un apellido</span
        >
      </div>
      <div class="input-group">
        <label for="puesto">Puesto del Colaborador:</label>
        <input
          formControlName="puesto"
          type="text"
          id="puesto"
          placeholder="Ingrese el puesto del colaborador"
        />
        <span *ngIf="puesto.touched && puesto.invalid" class="invalid-message"
          >Ingrese un puesto</span
        >
      </div>
      <div class="input-group">
        <label for="departamento">Departamento:</label>
        <select
          class="dialog-select"
          id="departamento"
          formControlName="departamentoId"
        >
          <option value="" disabled selected>Escoja un Departamento</option>
          <option
            [value]="departamento.id"
            *ngFor="let departamento of departamentos"
            >{{ departamento.nombre }}</option
          >
        </select>
      </div>
      <br />
      <br />

      <div class="button-group">
        <button class="save-button save-button--green">
          {{ isEdit ? 'GUARDAR' : 'AGREGAR' }}
        </button>
      </div>
    </div>
  </form>
</div>
