<div class="main-container">
  <nav mat-tab-nav-bar class="sub-nav-menu">
    <a
      mat-tab-link
      [routerLink]="['roles']"
      routerLinkActive
      disableRipple
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      ROLES
    </a>
    <a
      mat-tab-link
      [routerLink]="['perfiles']"
      routerLinkActive
      disableRipple
      #rlb="routerLinkActive"
      [active]="rlb.isActive"
    >
      PERFILES
    </a>
    <a
      mat-tab-link
      [routerLink]="['colaboradores']"
      routerLinkActive
      disableRipple
      #rlc="routerLinkActive"
      [active]="rlc.isActive"
    >
      COLABORADORES
    </a>
    <a
      mat-tab-link
      [routerLink]="['departamentos']"
      routerLinkActive
      disableRipple
      #rld="routerLinkActive"
      [active]="rld.isActive"
    >
      DEPARTAMENTOS
    </a>
  </nav>

  <div [@routeAnimations]="prepareRoute(outlet)" class="route-animation">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
