<div class="main-container">
  <nav>
    <ul class="main-container-list">
      <li>
        <a
          class="main-container-list-link"
          routerLink="incidente"
          routerLinkActive=" main-container-list-link-active"
          >Incidente</a
        >
      </li>
      <li>
        <a
          class="main-container-list-link"
          routerLink="casi-incidente"
          routerLinkActive=" main-container-list-link-active"
          >Casi Incidente</a
        >
      </li>
      <li>
        <a
          class="main-container-list-link"
          routerLink="bbs"
          routerLinkActive=" main-container-list-link-active"
          >BBS</a
        >
      </li>
      <li>
        <a
          class="main-container-list-link"
          routerLink="condiciones-inseguras"
          routerLinkActive=" main-container-list-link-active"
          >Condiciones Inseguras</a
        >
      </li>
    </ul>
  </nav>
</div>
