.layout {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15rem auto;
  grid-template-rows: 6rem auto;
  grid-template-areas:
    "nav header"
    "nav main";
}
app-header {
  grid-area: header;
}
app-left-nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
