<div class="dialog-content">
  <div class="dialog-header">
    <h1 class="dialog-title">AGREGAR NUEVO ROL</h1>
    <div mat-dialog-close class="close-icon">X</div>
  </div>
  <form [formGroup]="rolForm" (ngSubmit)="submitForm()">
    <div class="dialog-main">
      <div class="input-group">
        <label for="nombreDelRol">Nombre del Rol:</label>
        <input
          type="text"
          id="nombreDelRol"
          formControlName="nombre"
          placeholder="Ingrese un nombre para el rol"
        />
      </div>
      <div class="input-group">
        <label for="descripcion">Descripcion del Rol:</label>
        <input
          formControlName="descripcion"
          type="text"
          id="descripcion"
          placeholder="Ingrese un nombre para el rol"
        />
      </div>
      <br />
      <br />
      <div class="input-group">
        <label>Vistas del rol:</label>
        <div class="checkboxes">
          <mat-checkbox
            *ngFor="let vista of vistasArray"
            (change)="onSelectVista(vista.id, $event.checked)"
            [checked]="isViewSelected(vista.id)"
            >{{ vista.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <div class="button-group">
        <button class="save-button save-button--green">AGREGAR</button>
      </div>
    </div>
  </form>
</div>
