<div class="main-container">
    <nav>
      <ul class="main-container-list">
        <li>
          <a
            class="main-container-list-link"
            routerLink="perfiles"
            routerLinkActive=" main-container-list-link-active"
            >Perfiles</a
          >
        </li>
        <li>
          <a
            class="main-container-list-link"
            routerLink="roles"
            routerLinkActive=" main-container-list-link-active"
            >Roles</a
          >
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
  