<form
  class="content-container"
  [formGroup]="incidenteForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-grid">
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        id="fecha"
        readonly
        placeholder="Fecha"
        [max]="maxDate"
        formControlName="fecha"
        [matDatepicker]="picker"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
      <span class="invalid-message" *ngIf="fecha.touched && fecha.invalid"
        >Ingrese una fecha</span
      >
    </div>
    <div class="input-group">
      <label for="observado">Observado:</label>
      <select id="observado" formControlName="observadoId">
        <option value="" disabled selected>Seleccione un observado</option>
        <option [value]="observado.id" *ngFor="let observado of colaboradores">
          {{ observado.nombre }} {{ observado.apellido }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="observado.touched && observado.invalid"
        ><ng-template [ngIf]="observado.errors.required"
          >Ingrese un observado</ng-template
        >
      </span>
    </div>
    <div class="input-group">
      <label>Género:</label>
      <mat-radio-group aria-label="Select an option" formControlName="generoId">
        <mat-radio-button
          *ngFor="let opcion of opciones?.generos"
          [value]="opcion.optionId"
          >{{ opcion.nombre }}</mat-radio-button
        >
      </mat-radio-group>
      <span class="invalid-message" *ngIf="generoId.touched && generoId.invalid"
        >Seleccione un género</span
      >
    </div>
    <div class="input-group">
      <label for="proceso">Proceso:</label>
      <select id="proceso" formControlName="procesoId">
        <option value="" disabled selected>Seleccione un proceso</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.procesos"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="procesoId.touched && procesoId.invalid"
        >Seleccione un proceso</span
      >
    </div>
    <div class="input-group">
      <label for="turno">Turno:</label>
      <select id="turno" formControlName="turnoId">
        <option value="" disabled selected>Seleccione un turno</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.turnos"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span class="invalid-message" *ngIf="turnoId.touched && turnoId.invalid"
        >Seleccione un turno</span
      >
    </div>
    <div class="input-group">
      <label for="areaDeTrabajo">Área de trabajo:</label>
      <select id="areaDeTrabajo" formControlName="areaId">
        <option value="" disabled selected>Área de trabajo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.areas"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span class="invalid-message" *ngIf="areaId.touched && areaId.invalid"
        >Seleccione un area de trabajo</span
      >
    </div>
    <div class="input-group">
      <label for="porcentajeDeJornada">Jornada:</label>
      <select id="porcentajeDeJornada" formControlName="jornadaId">
        <option value="" disabled selected>Jornada</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.jornadas"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="jornadaId.touched && jornadaId.invalid"
        >Seleccione una jornada</span
      >
    </div>
    <div class="input-group">
      <label for="tipoDeEfecto">Tipo de Efecto:</label>
      <select id="tipoDeEfecto" formControlName="efectoId">
        <option value="" disabled selected>Tipo de Efecto</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.efectos"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span class="invalid-message" *ngIf="efectoId.touched && efectoId.invalid"
        >Seleccione un tipo de efecto</span
      >
    </div>
    <div class="input-group">
      <label for="clasificacion">Clasificación:</label>
      <select id="clasificacion" formControlName="clasificacionId">
        <option value="" disabled selected>Clasificación</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.clasificaciones"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="clasificacionId.touched && clasificacionId.invalid"
        >Seleccione una clasificación</span
      >
    </div>
    <div class="input-group">
      <label>Actividad:</label>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="actividadId"
      >
        <mat-radio-button
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.actividades"
          >{{ opcion.nombre }}
        </mat-radio-button>
      </mat-radio-group>
      <span
        class="invalid-message"
        *ngIf="actividadId.touched && actividadId.invalid"
        >Seleccione una actividad</span
      >
    </div>
    <div class="input-group">
      <label for="nivelDeRiesgo">Nivel de Riesgo:</label>
      <select id="nivelDeRiesgo" formControlName="riesgoId">
        <option value="" disabled selected>Nivel de Riesgo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.riesgos"
        >
          {{ opcion.nombre }}
        </option>
        <span
          class="invalid-message"
          *ngIf="riesgoId.touched && riesgoId.invalid"
          >Seleccione un nivel de riesgo</span
        >
      </select>
    </div>
    <div class="input-group">
      <label for="causaBasica">Causa basica:</label>
      <select id="causaBasica" formControlName="causaBasicaId">
        <option value="" disabled selected>Causa basica</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.causaBasicas"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="causaBasicaId.touched && causaBasicaId.invalid"
        >Seleccione una causa básica</span
      >
    </div>
    <div class="input-group">
      <label for="causaInmediata">Causa Inmediata:</label>
      <select id="causaInmediata" formControlName="causaInmediataId">
        <option value="" disabled selected>Causa Inmediatada</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.causaInmediatas"
        >
          {{ opcion.nombre }}
        </option>
      </select>
      <span
        class="invalid-message"
        *ngIf="causaInmediataId.touched && causaInmediataId.invalid"
        >Seleccione una causa inmediata</span
      >
    </div>
    <div class="input-group">
      <label for="parteDelCuerpo">Parte del Cuerpo:</label>
      <select id="parteDelCuerpo" formControlName="parteCuerpoId">
        <option value="" disabled selected>Parte del cuerpo</option>
        <option
          [value]="opcion.optionId"
          *ngFor="let opcion of opciones?.parteCuerpos"
        >
          {{ opcion.nombre }}
        </option>
        >
      </select>
      <span
        class="invalid-message"
        *ngIf="parteCuerpoId.touched && parteCuerpoId.invalid"
        >Seleccione una parte del cuerpo</span
      >
    </div>
    <div class="input-group text-area">
      <label for="descripcion">Descripción de lo sucedido</label>
      <textarea
        name=""
        id="descripcion"
        formControlName="descripcion"
      ></textarea>
      <span
        class="invalid-message"
        *ngIf="descripcion.touched && descripcion.invalid"
      >
        <ng-template [ngIf]="descripcion.errors.maxlength"
          >Solo se permite un máximo de 100 caracteres</ng-template
        >
        <ng-template [ngIf]="descripcion.errors.required"
          >Ingrese una descripción</ng-template
        >
      </span>
    </div>
  </div>
  <div class="button-group">
    <button class="save-button" *ngIf="editable">GUARDAR</button>
  </div>
</form>
