.checkbox-dataset-container {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: none;
}

input {
  background: transparent;
  height: auto;
  padding: unset;
  flex: 1;
}

input.ng-touched.ng-invalid {
  border: none;
}

.date-picker-container {
  margin-bottom: 5rem;
}

::ng-deep mat-date-range-input {
  background-color: rgba(255, 255, 248, 0.3) !important;
  display: flex;
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;

  width: 15rem !important;
}

.form-grid input::placeholder {
  color: rgba(255, 255, 248, 1);
}

::ng-deep .mat-date-range-input-separator {
  color: var(--white);
}

mat-checkbox {
  margin: 0 1rem;
}
mat-radio-group {
  max-width: unset;
}
mat-radio-group > * {
  flex: 1;
}

.form-grid {
  grid-template-columns: repeat(auto-fill, 10rem);
}

.grafico-radio-buttons {
  margin-bottom: 5rem;
}
