<form class="content-container" #form="ngForm" (ngSubmit)="submitForm(form)">
  <div class="grafico-radio-buttons">
    <label>Seleccione el grafico que desea ver</label>
    <mat-radio-group
      #radioGroup="ngModel"
      ngModel
      required
      name="tipoGrafica"
      aria-label="Select an option"
    >
      <mat-radio-button value="incidente">Incidente</mat-radio-button>
      <mat-radio-button value="casi-incidente">Casi incidente</mat-radio-button>
      <mat-radio-button value="bbs">BBS</mat-radio-button>
      <mat-radio-button value="condiciones-inseguras"
        >Condiciones inseguras</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <label>Seleccione las opciones que desea ver en el grafico:</label>
  <div class="form-grid">
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="Proceso"
      >Proceso</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="area-de-trabajo"
      >Área de Trabajo</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="Supervisor"
      *ngIf="radioGroup.value !== 'bbs'"
      >Supervisor</mat-checkbox
    >

    <mat-checkbox (change)="propiedadChange($event.source.value)" value="dia"
      >Día</mat-checkbox
    >
    <mat-checkbox (change)="propiedadChange($event.source.value)" value="mes"
      >Mes</mat-checkbox
    >
    <mat-checkbox (change)="propiedadChange($event.source.value)" value="semana"
      >Semana</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        radioGroup.value === 'incidente' ||
        radioGroup.value === 'casi-incidente'
      "
      >Porcentaje de Jornada</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="nivel-de-riesgo"
      *ngIf="
        radioGroup.value === 'incidente' ||
        radioGroup.value === 'casi-incidente'
      "
      >Nivel de Riesgo</mat-checkbox
    >

    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="genero"
      *ngIf="
        radioGroup.value === 'incidente' ||
        radioGroup.value === 'casi-incidente'
      "
      >Género</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="tipo-de-efecto"
      *ngIf="radioGroup.value === 'incidente'"
      >Tipo de efecto</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="clasificacion"
      *ngIf="radioGroup.value === 'incidente'"
      >Clasificación</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="turno"
      *ngIf="
        radioGroup.value === 'incidente' ||
        radioGroup.value === 'casi-incidente'
      "
      >Turno</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'incidente'"
      value="parte-afectada"
      >Parte afectada</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'incidente'"
      value="causa-basica"
      >Causa básica</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'bbs'"
      value="comportamiento-detectado"
      >Comportamiento detectado</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'bbs'"
      value="tipo-observado"
      >Tipo observado</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'bbs'"
      value="comportamiento"
      >Comportamiento</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'incidente'"
      value="causa-inmediata"
      >Causa inmediata</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'condiciones-inseguras'"
      value="indicador-de-riesgo"
      >Indicador de Riesgo</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="radioGroup.value === 'condiciones-inseguras'"
      value="factor-de-riesgo"
      >Factor de Riesgo</mat-checkbox
    >
  </div>
  <div class="button-group">
    <button
      class="save-button"
      [disabled]="form.invalid || propiedadesArray.length === 0"
    >
      VER GRÁFICO
    </button>
  </div>
</form>
