mat-radio-group {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
mat-radio-group > * {
  flex: 1;
}

.form-grid {
  grid-template-columns: repeat(auto-fill, 10rem);
}

.grafico-radio-buttons {
  margin-bottom: 5rem;
}
