<form class="content-container" #form="ngForm" (ngSubmit)="submitForm(form)">
  <div class="grafico-radio-buttons">
    <label>Seleccione el grafico que desea ver</label>

    <div class="checkbox-dataset-container">
      <mat-checkbox
        (change)="dataSetChange($event.source.value)"
        value="incidente"
        >Incidente
      </mat-checkbox>

      <mat-checkbox
        (change)="dataSetChange($event.source.value)"
        value="casi-incidente"
        >Casi incidente
      </mat-checkbox>

      <mat-checkbox (change)="dataSetChange($event.source.value)" value="bbs"
        >BBS
      </mat-checkbox>

      <mat-checkbox
        (change)="dataSetChange($event.source.value)"
        value="condiciones-inseguras"
        >Condiciones inseguras
      </mat-checkbox>
    </div>
  </div>

  <label>Seleccione las opciones que desea ver en el grafico:</label>
  <div class="form-grid">
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="Proceso"
      >Proceso</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="area-de-trabajo"
      >Área de Trabajo</mat-checkbox
    >

    <mat-checkbox (change)="propiedadChange($event.source.value)" value="dia"
      >Día</mat-checkbox
    >
    <mat-checkbox (change)="propiedadChange($event.source.value)" value="mes"
      >Mes</mat-checkbox
    >
    <mat-checkbox (change)="propiedadChange($event.source.value)" value="semana"
      >Semana</mat-checkbox
    >
    <mat-checkbox
      *ngIf="
        (isSelected('incidente') || isSelected('casi-incidente')) &&
        !(isSelected('bbs') || isSelected('condiciones-inseguras'))
      "
      (change)="propiedadChange($event.source.value)"
      >Porcentaje de Jornada</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="nivel-de-riesgo"
      *ngIf="
        (isSelected('incidente') || isSelected('casi-incidente')) &&
        !(isSelected('bbs') || isSelected('condiciones-inseguras'))
      "
      >Nivel de Riesgo</mat-checkbox
    >

    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="genero"
      *ngIf="
        (isSelected('incidente') || isSelected('casi-incidente')) &&
        !(isSelected('bbs') || isSelected('condiciones-inseguras'))
      "
      >Género</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="tipo-de-efecto"
      *ngIf="
        isSelected('incidente') &&
        !(
          isSelected('bbs') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      >Tipo de efecto</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="clasificacion"
      *ngIf="
        isSelected('incidente') &&
        !(
          isSelected('bbs') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      >Clasificación</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      value="turno"
      *ngIf="
        (isSelected('incidente') || isSelected('casi-incidente')) &&
        !(isSelected('bbs') || isSelected('condiciones-inseguras'))
      "
      >Turno</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('incidente') &&
        !(
          isSelected('bbs') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      value="parte-afectada"
      >Parte afectada</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('incidente') &&
        !(
          isSelected('bbs') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      value="causa-basica"
      >Causa básica</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('bbs') &&
        !(
          isSelected('incidente') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      value="comportamiento-detectado"
      >Comportamiento detectado</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('bbs') &&
        !(
          isSelected('incidente') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      value="tipo-observado"
      >Tipo observado</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('bbs') &&
        !(
          isSelected('incidente') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      value="comportamiento"
      >Comportamiento</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('incidente') &&
        !(
          isSelected('bbs') ||
          isSelected('condiciones-inseguras') ||
          isSelected('casi-incidente')
        )
      "
      k
      value="causa-inmediata"
      >Causa inmediata</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('condiciones-inseguras') &&
        !(
          isSelected('bbs') ||
          isSelected('incidente') ||
          isSelected('casi-incidente')
        )
      "
      value="indicador-de-riesgo"
      >Indicador de Riesgo</mat-checkbox
    >
    <mat-checkbox
      (change)="propiedadChange($event.source.value)"
      *ngIf="
        isSelected('condiciones-inseguras') &&
        !(
          isSelected('bbs') ||
          isSelected('incidente') ||
          isSelected('casi-incidente')
        )
      "
      value="factor-de-riesgo"
      >Factor de Riesgo</mat-checkbox
    >
  </div>
  <div class="button-group">
    <button
      class="save-button"
      [disabled]="dataSetArray.length === 0 || propiedadesArray.length === 0"
    >
      VER GRÁFICO
    </button>
  </div>
</form>
