<div class="content-container">
  <div class="graph-title">
    <h3>Gráfico de {{tipoGraficas}} Vs. {{propiedades }}</h3>
    <h4>{{startDate | date:'dd/MM/yyyy'}} - {{endDate | date: 'dd/MM/yyyy'}}</h4>
  </div>
  <div class="canvas-container">
    <canvas
      style="background-color: var(--blue);"
      #resultadoElement
      @rowAnimation
      mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <button class="save-button" type="button" (click)="openPDF()">
    Descargar PDF
  </button>

</div>
