.canvas-container {
  width: 80%;
}
.save-button {
  margin-left: auto;
}
.save-button{
  position: fixed;
  bottom: 7rem;
  right: 8rem;
}

.graph-title{
  justify-self: center;
}
.graph-title > h3, h4{
  width: 80%;
  text-align: center;
}

.content-container{
  position: relative;
}
