<div class="content-container">
  <div class="canvas-container">
    <canvas
      style="background-color: var(--blue);"
      #resultadoElement
      @rowAnimation
      mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <button mat-fab class="fab-button" type="button" (click)="openPDF()">
    PDF
  </button>

</div>
