/* You can add global styles to this file, and also import other style files */

:root {
  --yellow: #f9a11b;
  --blue: #0a1e38;
}
body {
  margin: 0;
}

* {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fffff8;
}

.main-container {
  display: flex;
  flex-flow: column;
  color: #fffff8;
}
.main-container-list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  border-bottom: 3px solid #fffff8;
}

.main-container-list-link {
  padding: 1rem 0;
  display: inline-block;
}
.main-container-list-link-active {
  margin-bottom: -3px;
  border-bottom: 3px solid var(--yellow);
}
