<nav>
  <div class="title-container" (click)="onLogoClick()">
    <img src="assets/images/logo.png" class="logo left-nav-transition" />
    <mat-icon class="more-icon left-nav-transition">more_vert</mat-icon>
  </div>
  <ul class="nav-list">
    <li class="nav-list-item">
      <a
        [routerLink]="['/reportes']"
        class="nav-list-item-link left-nav-transition"
        routerLinkActive="nav-list-item-link-active"
        #reportes="routerLinkActive"
        *ngIf="isPermitted('reportes')"
      >
        <img
          class="icon left-nav-transition"
          [src]="
            reportes.isActive && isMobileScreen
              ? 'assets/images/icons/reporte-active.svg'
              : 'assets/images/icons/reporte.svg'
          "
          alt=""
        />
        <div>
          <div class="nav-list-item-text">Reportes</div>
        </div>
      </a>
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link left-nav-transition"
        [routerLink]="['/graficos']"
        routerLinkActive="nav-list-item-link-active"
        #graficos="routerLinkActive"
        *ngIf="isPermitted('graficos')"
        ><img
          [src]="
            graficos.isActive && isMobileScreen
              ? 'assets/images/icons/graficos-active.svg'
              : 'assets/images/icons/graficos.svg'
          "
          class="icon left-nav-transition"
          alt=""
        />
        <div>
          <div class="nav-list-item-text">Gráficos</div>
        </div></a
      >
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link left-nav-transition"
        [routerLink]="['/administrar']"
        routerLinkActive="nav-list-item-link-active"
        #administracion="routerLinkActive"
        *ngIf="isPermitted('administrar')"
        ><img
          [src]="
            administracion.isActive && isMobileScreen
              ? 'assets/images/icons/administracion-active.svg'
              : 'assets/images/icons/administracion.svg'
          "
          class="icon left-nav-transition"
          alt=""
        />
        <div class="nav-list-item-text">Administrar</div></a
      >
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link left-nav-transition"
        [routerLink]="['/mantenimiento']"
        *ngIf="isPermitted('mantenimiento')"
        #mantenimiento="routerLinkActive"
        routerLinkActive="nav-list-item-link-active"
        ><img
          [src]="
            mantenimiento.isActive && isMobileScreen
              ? 'assets/images/icons/mantenimiento-active.svg'
              : 'assets/images/icons/mantenimiento.svg'
          "
          class="icon left-nav-transition"
          alt=""
        /><span class="nav-list-item-text">Mantenimiento</span></a
      >
    </li>
  </ul>
  <hr class="nav-divider" />
  <ul class="nav-list">
    <li class="nav-list-item">
      <a class="nav-list-item-link left-nav-transition" (click)="onLogOut()"
        ><span class="nav-list-item-text">Salir</span></a
      >
    </li>
  </ul>
</nav>
