nav {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
  background-color: var(--blue);
  height: 100%;
  color: #fffff8;
}

.title-container {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  text-align: center;
  color: var(--yellow);
  margin-top: 0.5rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-list-item {
  width: 100%;
  text-align: center;
}
.nav-list-item-link {
  display: inline-block;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 2.5rem;
}

.nav-list-item-link-active {
  background-color: #f9a11b;
}
.nav-divider {
  width: 80%;
  border-width: 0;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.51);
}
.logo {
  width: 90%;
  height: auto;
}
