nav {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
  background-color: var(--blue);
  height: 100%;
  color: #fffff8;
}

.title-container {
  margin: 1rem 0rem;
  position: relative;
  min-height: 4rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  text-align: center;
  color: var(--yellow);
  margin-top: 0.5rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-list-item {
  width: 100%;
  text-align: center;
}
.nav-list-item-link {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 2.5rem;
  font-weight: bold;
  overflow: hidden;
}

.icon {
  margin: 0 1.2rem;
}

.nav-list-item-link-active {
  background-color: #f9a11b;
  pointer-events: none;
}
.nav-divider {
  width: 80%;
  border-width: 0;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.51);
}
.logo {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.more-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--yellow);
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 600px) {
  nav {
    flex-flow: row;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .nav-list {
    flex-flow: row;
    margin: 0;
    justify-content: space-evenly;
    width: 80%;
    background-color: var(--yellow);
    height: 60%;
    border-radius: 2rem;
  }
  .title-container {
    display: none;
  }
  .nav-list-item-text {
    display: none;
  }
  .nav-list-item-link {
    margin: 0;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list-item img {
    margin: 0;
  }
  .nav-divider {
    display: none;
  }
  .nav-list-item-link-active {
    background-color: transparent;
  }
}
