<nav>
  <div class="title-container">
    <img src="assets/images/logo.png" class="logo" />
  </div>
  <ul class="nav-list">
    <li class="nav-list-item">
      <a
        [routerLink]="['/reportes']"
        class="nav-list-item-link"
        routerLinkActive="nav-list-item-link-active"
        >Reportes</a
      >
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link"
        [routerLink]="['/graficos']"
        routerLinkActive="nav-list-item-link-active"
        >Graficos</a
      >
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link"
        [routerLink]="['/administrar']"
        routerLinkActive="nav-list-item-link-active"
        >Administrar</a
      >
    </li>
    <li class="nav-list-item">
      <a
        class="nav-list-item-link"
        [routerLink]="['/mantenimiento']"
        routerLinkActive="nav-list-item-link-active"
        >Mantenimiento</a
      >
    </li>
  </ul>
  <hr class="nav-divider" />
</nav>
